

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
 
}
 
/* Large screens */
@media only screen and (min-width : 1824px) {
 
}
 
/* Tablets (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 
}
 
/* Tablets (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 
}
 
/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
 
}
 
/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
 .cd-section:nth-of-type(1) {
  background-size: contain;
  }
  #cd-vertical-nav{
    display: none;
  }
  #texto_index{
    display: none;
  }
}